//- aside.contact#contact
//- 	a.btn.btn-primary.btn-lg Want to get in touch? Contact Us
footer
	.container 
		.logo-section.col-md-3
			.logo
				img(src='assets/hearyelogo_cream.png' alt='Logo')
			span HearYe
		ul.col-md-3
			li.title Get in Touch
			li 
				a(href='mailto:info@hearye.io') info@hearye.io
			li +1 (310) 729-6209
		ul.col-md-3
			li.title News
			li 
				a(href='http://blog.hearye.io' target='_blank') Blog
			li 
				a(href='//hearye.us12.list-manage.com/subscribe/post?u=63acebccc71d6fab3e9c58f4b&id=97590c03b9' target='_blank') Subscribe
		ul.col-md-3
			li.title Social Media
			li 
				a(href='https://www.facebook.com/hearyeapp/?fref=ts' target='_blank') Facebook
			li 
				a(href='https://twitter.com/HearYe_App' target='_blank') Twitter
			li 
				a(href='https://www.linkedin.com/company/hearye' target='_blank') LinkedIn
			li
				a(href='https://www.instagram.com/hearye_app/' target='_blank') Instagram
	.endmark
		p &copy; 2016 HearYe. 2034 Sherman Ave, Evanston, IL 60201, United States