nav#main-nav
	.nav-container
		.logo.noselect
			a(href='/')
				img(src='assets/hearyelogo_white.png' alt='Logo')
				span HearYe
		ul.nav-items.not-mobile
			li.nav-item.item
				a(href='/') Home
			li.nav-item(data-nav='how-it-works').item
				a How it works
			li.nav-item(data-nav='team').item
				a Our Team
			li.nav-item.nav-contact.item
				a(href='/contact') Contact Us
		.mobile-icon
			i.fa.fa-bars
			ul.mobile-items
				li.mobile-item.item
					a(href='/') Home
				li.mobile-item(data-nav='how-it-works').item
					a How it works
				li.mobile-item(data-nav='team').item
					a Our Team
				li.mobile-item.nav-contact.item
					a(href='/contact') Contact Us