nav#main-nav
	.nav-container
		.logo.noselect
			img(src='assets/hearyelogo_white.png' alt='Logo')
			span HearYe
		ul.nav-items
			li.nav-item(data-nav='how-it-works')
				a How it works
			li.nav-item(data-nav='team')
				a Our Team
			li.nav-item(data-nav='contact').nav-contact
				a Contact Us