extends layout

block content
	link(rel='stylesheet' href='css/contact.css')
	.bg
		h1 Get in Touch with Us
		.overlay
		.bg-image
	.wrapper
		form(url='contact.jade', name='contactus', id='contactus', method='POST')
			fieldset
				input(name='name', placeholder='What\'s your name?', type='text', value='', id='name')
				input(name='email', placeholder='What\'s your email address?', type='email', value='', id='email')
				textarea(name='message', placeholder='What do want to tell us?', cols='40', rows='10', id='message')
				p
				input(name='submit', type='submit', value='Send message', id='submit')

