extends layout

block content
	header.hero#hero
		.title-container
			h1 The digital bulletin board for campus events
			hr
			h2 Coming Fall 2016
			form.validate(action='//hearye.us12.list-manage.com/subscribe/post?u=63acebccc71d6fab3e9c58f4b&id=97590c03b9', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
				input(type='email', name='EMAIL', value='', placeholder='Email address', required='').email
				div(style='position: absolute; left: -5000px;', aria-hidden='true')
					input(type='text', name='b_63acebccc71d6fab3e9c58f4b_97590c03b9', tabindex='-1', value='')
				input(type='submit' value='Get updates').btn.btn-primary.btn-lg 
		.device
			img(src='assets/iphonegold-2x.png' alt='Rose Gold iPhone').device-img
			img(src='assets/Home.jpg' alt='Screenshot').device-screen
	.wrapper
		.affiliates
			ul
				li.affiliate
					img(src='assets/northwestern.png' alt='HearYe Affiliate: Northwestern University')
				li.affiliate
					img(src='assets/usercentric.png' alt='HearYe Affiliate: Usercentric Design and Development')
				li.affiliate.long
					img(src='assets/thegarage.png' alt='HearYe Affiliate: The Garage')
				
		.howitworks#how-it-works
			h3.section-header How it works

			.explore.feature
				.desc-wrapper
					h1 Explore what's happening on campus
					h2 See what events are happening right now and upcoming events later in the week. By selecting categories that are relevant to you, you can tailor your feed to your interests.
				ul.screens
					li.screen
						img(src='assets/Home.jpg' alt='HearYe iOS Home Screen')
					li.screen
						img(src='assets/Explore.jpg' alt='HearYe iOS Explore Screen')
					li.screen
						img(src='assets/Filters.jpg' alt='HearYe iOS Filters Screen')
			.tailor.feature
				.desc-wrapper
					h1 Watch and attend events
					h2 Interact with a campus event by watching for important updates and changes or attending it. Follow your favorite organizations to receive notifications whenever they host new events.
				ul.screens
					li.screen
						img(src='assets/Event.jpg' alt='HearYe iOS Event Screen')
					li.screen
						img(src='assets/Organization_View.jpg' alt='HearYe iOS Organization Screen')
			.create.feature
				.desc-wrapper
					h1 Create events that people want to attend
					h2 Through a 3-step process, you'll be able to create an event that will be seen campus-wide.
				ul.screens
					li.screen
						img(src='assets/EventCreation_1.jpg' alt='HearYe iOS Event Creation 1 Screen')
					li.screen
						img(src='assets/EventCreation_2.jpg' alt='HearYe iOS Event Creation 2 Screen')
					li.screen
						img(src='assets/EventCreation_3.jpg' alt='HearYe iOS Event Creation 3 Screen')
		.team#team
			h3.section-header Our Team
			ul.members
				li.member(data-name='drakemumford', data-gif='kobe-wide')
					.mask
						img(src='assets/drakemumford.jpg' alt='Drake Mumford: Co-Founder').reg
						img(src='assets/kobe-wide.gif' alt="Drake Mumford Hover Gif, Kobe Bryant Rings").wide.hovergif
					h4 Drake Mumford
					h6 Co-Founder
					p Hi, I’m Drake. I like fast cars, photography, sports, and food. Also, my favorite color is blue.
				li.member(data-name='maxweidell', data-gif='pleaseclap-wide')
					.mask
						img(src='assets/maxweidell.jpg' alt='Max Weidell: Co-Founder, COO, CMO').reg
						img(src='assets/pleaseclap-wide.gif' alt='Max Weidell Hover Gif, Please Clap').wide.hovergif
					h4 Max Weidell
					h6 Co-Founder, COO, CMO
					p I'm Max. I love jazz, playing string instruments, reading, and I am fascinated by trains.
				li.member(data-name='brandonfujii', data-gif='dabasaur')
					.mask
						img(src='assets/brandonfujii.jpg' alt='Brandon Fujii: Web Developer, Designer').reg
						img(src='assets/dabasaur.gif' alt='Brandon Fujii Hover Gif, Dab a saur').hovergif
					h4 Brandon Fujii
					h6 Web Dev &amp; Designer
					p Northwestern CS and Usercentric. I like skateboarding, Soylent, and dank memes. @brandonfujii
				li.member(data-name='johnfranklin', data-gif='ketchup')
					.mask
						img(src='assets/johnfranklin.jpg' alt='John Franklin: Software Developer').reg
						img(src='assets/ketchup.gif' alt='John Franklin Hover Gif, Ketchup Bot').wide.hovergif
					h4 John Franklin
					h6 Software Developer
					p Hello, hello. I'm John. Gypsy jazz, cockapoos, and free food get me going. Settlers of Catan champ.
				li.member(data-name='navingopaul', data-gif='lying')
					.mask
						img(src='assets/navingopaul.jpg' alt='Navin Gopaul: Mobile Developer').reg
						img(src='assets/lying.gif' alt="Navin Gopaul Hover Gif, Why You Lying").hovergif
					h4 Navin Gopaul
					h6 Mobile Developer
					p Northwestern CS student, NYC Native, and Usercentric dev. I'm a huge fan of politics, boxing, and vintage currency.
				


