doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='hearye mobile app ios android events university campus college')
    meta(name='referrer', content='origin')
    meta(name='description', content='Hearye is a digital bulletin board for campus events')
    link(rel='stylesheet', href='dist/cssd.css')
    script(src='dist/jsd.js')
    link(rel='stylesheet', href='css/main.css')
    
  body
    include partials/header
    
    block content 
    
    include partials/footer 

    script(src='dist/all.js')
    
