doctype html
html(lang='en')
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset='UTF-8')
    title HearYe: The digital bulletin board for campus events
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='hearye hear ye mobile app ios android events university northwestern campus college greek')
    meta(name='referrer', content='origin')
    meta(name='description', content='HearYe is a digital bulletin board for campus events. Coming soon to iOS in Fall 2016')
    meta(name='robots' content='index, follow')

    meta(property="og:type" content="website")
    meta(property="og:title" content="HearYe: The digital bulletin board for university events")
    meta(property="og:image" content="http://imgur.com/q8h7V4i")
    meta(property="og:image:secure_url" content="http://imgur.com/q8h7V4i")
    meta(property="og:url" content="http://www.hearye.io")
    meta(property="og:site_name" content="HearYe App")
    meta(name='og:description', content='HearYe is a digital bulletin board for campus events. Coming soon to iOS in Fall 2016')

    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@hearyeapp")
    link(rel="canonical" href="http://www.hearye.io")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel='stylesheet', href='dist/cssd.css')
    script(src='dist/jsd.js')
    link(rel='stylesheet', href='css/main.css')
    
  body
    include partials/header
    
    block content 
    
    include partials/footer 

    script(src='dist/all.js')
    
