extends layout

block content
	link(rel='stylesheet' href='css/contact.css')
	#thankyou
		.message 
			.mask
				img(src='assets/workingonit.gif' alt='Working on it')
			h2 Thanks for contacting us!
			h4 We'll get back to you as soon as we can
			p 
				a(href='/') Return Home